In [3]:
# Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

%matplotlib inline

In [4]:
# Importing the previously explored and processed Titanic Dataset
titanic_df = pd.read_csv('datasets/titanic_processed.csv')
titanic_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,1,3,0,63.0,0,0,9.5875,0,0,1
1,0,3,1,26.0,2,0,8.6625,0,0,1
2,1,1,0,50.0,0,1,247.5208,1,0,0
3,1,1,1,48.0,1,0,52.0000,0,0,1
4,1,1,0,39.0,1,1,83.1583,1,0,0

In [7]:
# Spliting the data into Training and Testing Datasets
X = titanic_df.drop(['Survived'], axis=1)
Y = titanic_df['Survived']
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.2, random_state=42)

In [9]:
x_train.shape, y_train.shape

((569, 9), (569,))

In [10]:
x_test.shape, y_test.shape

((143, 9), (143,))

In [11]:
# Budiling Logistic Regression Model
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(penalty='l2', C=1.0, solver='liblinear').fit(x_train, y_train)

In [12]:
y_pred = lr.predict(x_test)

In [38]:
### Confusion Matrix
pred_results = pd.DataFrame({'actual': y_test, 'predicted': y_pred })
titanic_crosstab = pd.crosstab(pred_results['actual'], pred_results['predicted'])
titanic_crosstab

predicted   0   1
actual
0          74   8
1          22  39

In [37]:
# Calculating the metrics via sklearn
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

acc = accuracy_score(y_test, y_pred)
acc_count = accuracy_score(y_test, y_pred, normalize=False)
prec = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)

print('Accuracy Score: {}\nAccuracy Count: {}\nPrecision Score: {}\nRecall Score: {}'.format(acc, acc_count, prec, recall) )

Accuracy Score: 0.7902097902097902
Accuracy Count: 113
Precision Score: 0.8297872340425532
Recall Score: 0.639344262295082

In [42]:
# Calculating the Metrics manually
titanic_crosstab

predicted   0   1
actual
0          74   8
1          22  39

In [54]:
TP = titanic_crosstab[1][1]
FP = titanic_crosstab[1][0]
TN = titanic_crosstab[0][0]
FN = titanic_crosstab[0][1]

In [55]:
Accuracy = (TP + TN)/ (TP + TN + FP + FN)
Accuracy

0.7902097902097902

In [56]:
Precision = TP / (FP + TP)
Precision

0.8297872340425532

In [58]:
Recall = TP / (FN + TP)
Recall

0.639344262295082